<!DOCTYPE html>
<html>
  <head>
    <title>A sample site</title>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@abishekvashok"/>
    <meta name="twitter:title" content="AAAaa"/>
    <meta name="twitter:description" content="BBBBB"/>
    <meta name="twitter:image" content="https://html.sammy-codes.com/images/large-profile.jpg"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="AAAaa"/>
    <meta property="og:description" content="BBBBB"/>
    <meta property="og:image" content="https://html.sammy-codes.com/images/large-profile.jpg"/>
  </head>
  <body>
    <h1>Hi crawler</h1>
  </body>
</html>
